link(rel="preconnect" href="https://fonts.gstatic.com")
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap")
link(rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css")
link(rel="stylesheet" href="./assets/css/style.css")
